@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    min-height: 100vh;
    background-image: url("../images/fundo.jpg");
    background-size: cover;
    background-attachment: fixed;
}
