@charset "UTF-8";
@font-face {
    font-family: friz-quadrata;
    src: url("../fonts/friz_quadrata.otf");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    width: 100%;
    min-height: 100vh;
    background-image: url("../images/fundo.jpg");
    background-size: cover;
    background-attachment: fixed;
}
